<div id="<%= dom_id user %>">
  
  <th>Role</th>
  <th>Email</th>
  <th colspan="3"></th>

  <td><%= user.role.name %></td>
  <td><%= user.email %></td>
  <td><%= link_to 'Show', user %></td>

</div>
